:root {
    --main-color: #F58A07;
    --section-blue-color: #DCEAF5;
    --text-violed-color: #1D3444;
    --text-black-color: #0D1317;
    --text-grey-color: #5B5B5B;
    --footer-bg-color: #063255;
    --white-color: #FFFFFF;

    --main-font: "Poppins", sans-serif;
    --secondary-font: "Inter", sans-serif;

    --h1-fs: 6.4rem;
    --h1-lh: 1.125;
    --h1-fw: 600;
    --h1-ls: -3%;


    --h2-fs: 4.8rem;
    --h2-lh: 1.16;
    --h2-fw: 600;
    --h2-ls: -3%;

    --h3-fs: 3.6rem;
    --h3-lh: 1.22;
    --h3-fw: 600;
    --h3-ls: -3%;

    --h5-fs: 2.4rem;
    --h5-lh: 1.041;
    --h5-fw: 600;
    --h5-ls: -3%;

    --p-fw: 500;
    --p-fs: 1.8rem;
    --p-lh: 1.6;
}


.hero {
    background-color: var(--section-blue-color);
}

.hero__container {
    display: flex;
    position: relative;
}

.hero__info {
    margin-top: 11.7rem;
    margin-bottom: 11.7rem;
}

.hero__info__title {
    color: #1D3444;
    margin-bottom: 1.2rem;
}

.hero__info__paragraph {
    margin-bottom: 3.2rem;
}

.hero__info__btns {
    margin-bottom: 5.6rem;
}

.hero__info__btn {
    padding: 1.8rem 3.2rem;
    cursor: pointer;
    background-color: var(--main-color);
    border: none;
    border-radius: 2.7rem;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--white-color);
}

.hero__info__second__btn {
    padding: 1.8rem 3.2rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 2.7rem;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--text-violed-color);
}

.hero__info__info {
    color: rgba(57, 65, 73, 0.5);
    font-weight: 400;
    margin-bottom: 1.8rem;
}

.hero__info__brends {
    display: flex;
    gap: 4.5rem;
}

.hero__img {
    position: absolute;
    bottom: 0;
    right: 100px;
}


/* HELP */
.help {
    padding-top: 9.6rem;
    padding-bottom: 9.6rem;
}

.help__title {
    color: var(--text-violed-color);
    margin-bottom: 2.7rem;
}

.help__text {
    margin-bottom: 6.4rem;
}

.help__cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.help__cards__item {
    width: 400px;
    height: 447px;
}

.help__cards__item__image {
    margin-bottom: 3.3rem;
}

.help__cards__item__title {
    font-weight: 500;
    color: var(--text-black-color);
    margin-bottom: 1.7rem;
}

.help__cards__item__text {
    font-size: 1.6rem;
    line-height: 1.75;
    margin-bottom: 2.4rem;
}

.help__cards__item__btn {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    color: var(--main-color);
}

.help__cards__item__btn img {
    margin-left: 0.8rem;
}

/* SECTION */
.features {
    background-color: #EDF7FF;
    padding-top: 9.6rem;
    padding-bottom: 9.6rem;
}

.features-container {
    display: flex;
    flex-direction: column;
}

.features__top {
    display: flex;
    margin-bottom: 6.4rem;
}

.features__top__title {
    color: var(--text-black-color);
}

.features__top__text {
    color: var(--text-violed-color);
}

.features__bottom {
    display: flex;
    justify-content: space-between;
}

.features__bottom__card {
    width: 401px;
    height: 277px;
    border-radius: 2rem;
    background-color: var(--white-color);
    padding-left: 3.9rem;
    padding-top: 4.8rem;
}

.features__bottom__card__img {
    margin-bottom: 3.2rem;
}

.features__bottom__card__title {
    color: var(--text-black-color);
    margin-bottom: 3rem;
}

.features__bottom__card__text {
    font-size: 1.6rem;
}

.about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 4.1rem;
    padding-bottom: 8rem;
}

.about__info__title {
    color: var(--text-black-color);
    margin-bottom: 3.2rem;
    margin-top: 3rem;
}

.about__info__text {
    margin-bottom: 4.8rem;
}

.about__info__cards {
    display: flex;
    gap: 2.6rem;
}

.about__info__cards__card_number {
    font-family: Inter;
    font-weight: 700;
    color: var(--main-color);
    margin-bottom: 1.6rem;
}

.about__info__cards__card__title {
    color: var(--text-black-color);
    margin-bottom: 1.6rem;
}

.about__info__cards__card__text {
    font-size: 1.6rem;
}